<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaydroid.base_lib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <!--appLife ,name需要是全类名-->
        <meta-data
            android:name="com.jaydroid.base_lib.app.BaseLibApp"
            android:value="IModuleConfig" />
    </application>


</manifest>
