<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jaydroid.main">

    <application
        android:label="app-main"
        tools:replace="android:label">

        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleInstance" />

        <activity
            android:name=".main.SplashActivity"
            android:theme="@style/component_base_full_screen_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>