<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jay.user">

    <application>
        <activity android:name="com.jay.user.activity.LoginActivity" />
        <activity android:name="com.jay.user.activity.RegisterActivity" />
        <!--appLife-->
        <meta-data
            android:name="com.jay.user.app.UserApp"
            android:value="IModuleConfig" />

    </application>

</manifest>